.cursor-pointer {
  cursor: pointer;
}
.question {
  .question-symbol {
    color: #fff;
    background: #333;
    padding: 5px 15px;
    font-size: 18pt;
    margin-right: 15px;
  }
  .question-text {
    font-size: 12pt;
    margin-right: 15px;
  }
  i {
    font-size: 16pt;
  }
}
.answer {
  .answer-symbol {
    color: #333;
    background: rgb(212, 212, 212);
    padding: 5px 15px;
    font-size: 10pt;
    margin-right: 15px;
  }
  .answer-text {
    font-size: 8pt;
    margin-right: 15px;
  }
}