/** Basic SCSS Color Variables */
$base-color: #ffffff;
$secondary-color: #ffc107;
$dark-color: #000;
$opaque-white: #ffffffb8;
$opaque-black: #0000001e;
$grey-color: #999;
$light-grey-color: #f1f1f1;