.card-img-home {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;

  &:hover {
    opacity: 0.8;
    border-radius: 10px;
  }
}

.small-text {
  font-size: 75%;
  min-height: 177px;

  &.card-body {
    h6 {
      min-height: 50px;
      margin: 0;
    }
  }
}